/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: ;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color:white ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:rgb(113, 235, 113) ;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
